<h1>
Student Enrollment Request (Reactive)
</h1>


<form 
[formGroup]="enrollForm"
(ngSubmit)="onSubmit()">

<label>
Student Name
</label>

<input
type="text"
formControlName="studentName">



<span
*ngIf="
enrollForm.get('studentName')?.touched &&
enrollForm.get('studentName')?.errors?.['required']
">

Name is required

</span>


<span
*ngIf="
enrollForm.get('studentName')?.touched &&
enrollForm.get('studentName')?.errors?.['minlength']
">

Name must be at least 3 characters

</span>


<br><br>


<label>
Student Email
</label>

<input
type="email"
formControlName="studentEmail"
>
<span
*ngIf="
enrollForm.get('studentEmail')?.touched &&
enrollForm.get('studentEmail')?.errors?.['required']
">

Email is required

</span>


<span
*ngIf="
enrollForm.get('studentEmail')?.touched &&
enrollForm.get('studentEmail')?.errors?.['email']
">

Enter a valid email

</span>
<span
*ngIf="
enrollForm.get('studentEmail')?.errors?.['emailTaken']
">

Email taken

</span>

<br><br>


<label>
Course ID
</label>

<input
type="text"
formControlName="courseId">


<span
*ngIf="
enrollForm.get('courseId')?.errors?.['noCourseCode']
">

Course code starting with XX is not allowed.

</span>


<br><br>


<label>
Preferred Semester
</label>

<select formControlName="preferredSemester">

<option>
Odd
</option>

<option>
Even
</option>

</select>


<br><br>


<label>

<input
type="checkbox"
formControlName="agreeToTerms"
>

Agree to Terms

</label>


<br><br>

<h3>
Additional Courses
</h3>


<button
type="button"
(click)="addCourse()">

Add Another Course

</button>



<div
*ngFor="
let ctrl of additionalCourses.controls;
let i=index
">


<input
[formControl]="ctrl"
placeholder="Course Name">


<button
type="button"
(click)="removeCourse(i)">

Remove

</button>


</div>


<button
type="submit"
[disabled]="enrollForm.invalid">

Submit

</button>


</form>