<h1>Student Enrollment Request</h1>
<form
#enrollForm="ngForm"
(ngSubmit)="onSubmit(enrollForm)">
<label>Student Name : </label>

<input 
#nameCtrl="ngModel"
type="text" 
name="studentName" 
[(ngModel)]="studentName" 
required 
minlength="3">
<span *ngIf="nameCtrl.touched && nameCtrl.errors?.['required']">
Name is required
</span>
<span *ngIf="nameCtrl.touched && nameCtrl.errors?.['minlength']">
Name must be at least 3 characters
</span>

<br><br>
<label>Student Email  : </label>

<input 
type="email" 
name="studentEmail" 
[(ngModel)]="studentEmail" 
required 
email>

<br><br>
<label>Course ID : </label>

<input 
type="number" 
name="courseId" 
[(ngModel)]="courseId"
required>

<br><br>
<label>Preferred Semester </label>
<select name="preferredSemester" [(ngModel)]="preferredSemester">
<option>Odd</option>
<option>Even</option>
</select>
<br><br>
<label>

    <input 
    type="checkbox" 
    name="agreeToTerms" 
    [(ngModel)]="agreeToTerms" 
    required>

Agree to Terms

</label>
<br><br>

<button
type="submit"
[disabled]="enrollForm.invalid">
Submit
</button>

<button
type="button"
(click)="enrollForm.resetForm(); submitted=false">

Reset

</button>

</form>
<div *ngIf="submitted">

Enrollment request submitted successfully!

</div>
